<!DOCTYPE html>
<html>
    <head>
        <title>
            contact page 
        </title>
        <link rel="stylesheet" href="/assets/contact.css" type="text/css">
    </head>
    <body>
        <%- include('partials/nav.ejs')%>
        <h1>
            contact page!!
        </h1>
<!--form tab -->
<form id="contact-form">
    <label for="name">Name <input type="text" value=""></label>
    <label for="dept">Department <input type="text" value=""></label>
    <button type="submit">Submit</button>
    </form>     
    </body>
</html>