<!DOCTYPE html>
<html>
    <head>
        <title>
            contact page 
        </title>
    </head>
    <body>
        <%- include('partials/nav.ejs')%>
        <h1>
            contact page!!
        </h1>
    </body>
</html>