<!DOCTYPE html>
<html>
    <head>
        <title>
            contact page 
        </title>
        <link rel="stylesheet" href="/assets/contact.css" type="text/css">
    </head>
    <body>
        <%- include('partials/nav.ejs')%>
        <h1>
            contact page!!
        </h1>
<!--form tab -->
<form id="contact-form" method="POST" action="/contact"><!--trying to implement a post method -->
    <label for="name">Name </label>
    <input type="text" name="name" value=<%= qs.name %>>
    <label for="dept">Department</label>
    <input type="text" name="dept" value=<%= qs.dept %>>
    <input type="submit" value="submit"/>
    </form>     
    </body>
</html> 