<!DOCTYPE html>
<html>
    <head>
        <title>
            contact succes page 
        </title>
    </head>
    <body>
        <h1>
            contact successfully made
        </h1>
        <p>you are contacting <br>
        name : <%= data.name %><br>
        department : <%= data.dept %>
        </p>
        <%- include('partials/footer.ejs') %>
    </body>
</html>