<!DOCTYPE html>
<html>
    <head> 
       <link rel="stylesheet" href="/assets/home.css" type="text/css">
        <title>
            home page 
        </title>
        
    </head>
    <body>
        <%- include('partials/nav.ejs')%>
        <h1>
            home page
        </h1>
        <%- include('partials/footer.ejs')%>
    </body>
</html>