<!DOCTYPE html>
<html>
    <head>
        <title>
            home page 
        </title>
    </head>
    <body>
        <%- include('/partials/nav.ejs'); %>
        <h1>
            home page1
        </h1>
    </body>
</html>