<!DOCTYPE html>
<html>
    <head>
        <link href="/assets/index.css" rel="stylesheet" type="text/css"/>
        <title>
            index page 
        </title>
    </head>
    <body >
        <%- include('partials/nav.ejs') %>
        <h1>
            Index page 
        </h1>
    </body>
</html>