<!DOCTYPE html>
<html>

<head>
    <title>todo list</title>
    <link rel="stylesheet" href="/assets/style.css" type="text/css">
    <script src="https://code.jquery.com/jquery-1.12.3.min.js"
        integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ=" crossorigin="anonymous"></script>
</head>

<body>
    <h1>My Todo List</h1>
    <div id="todo-table">
        <form>
            <input type="text" name="item" placeholder="Add new item ... " required />
            <button type="submit">Add Item</button>
        </form>
        <ul>
            <% for( var i=0 ; i< todos.length; i ++){%>
            <li>
                <%= todos[i].item %>
            </li>

            <%}%>
        </ul>
    </div>
</body>

</html>